03_Trl.pdf filter=lfs diff=lfs merge=lfs -text
04_Peft.pdf filter=lfs diff=lfs merge=lfs -text
06_Open-Sora.pdf filter=lfs diff=lfs merge=lfs -text
08_Text2video.pdf filter=lfs diff=lfs merge=lfs -text
10_BLIP.pdf filter=lfs diff=lfs merge=lfs -text
01_Verl框架代码原理-2.pdf filter=lfs diff=lfs merge=lfs -text
01_Verl框架代码原理-3.pdf filter=lfs diff=lfs merge=lfs -text
01_Verl框架代码原理-8.pdf filter=lfs diff=lfs merge=lfs -text
19_Baichuan-Audio.pdf filter=lfs diff=lfs merge=lfs -text
07_Image2video.pdf filter=lfs diff=lfs merge=lfs -text
11_Stable_Diffusion.pdf filter=lfs diff=lfs merge=lfs -text
14_Gemma.pdf filter=lfs diff=lfs merge=lfs -text
15_Baichuan2-7B.pdf filter=lfs diff=lfs merge=lfs -text
01_Verl框架代码原理-5.pdf filter=lfs diff=lfs merge=lfs -text
01_Verl框架代码原理-6.pdf filter=lfs diff=lfs merge=lfs -text
05_Flash_Attention.pdf filter=lfs diff=lfs merge=lfs -text
01_Verl框架代码原理-7.pdf filter=lfs diff=lfs merge=lfs -text
02_Megatron.pdf filter=lfs diff=lfs merge=lfs -text
16_Baichuan2-13B.pdf filter=lfs diff=lfs merge=lfs -text
12_ResNet.pdf filter=lfs diff=lfs merge=lfs -text
13_Mixtral_MOE.pdf filter=lfs diff=lfs merge=lfs -text
17_Bert.pdf filter=lfs diff=lfs merge=lfs -text
18_Baichuan-Omni.pdf filter=lfs diff=lfs merge=lfs -text
01_Verl框架代码原理-1.pdf filter=lfs diff=lfs merge=lfs -text
01_Verl框架代码原理-4.pdf filter=lfs diff=lfs merge=lfs -text
09_BLIP2.pdf filter=lfs diff=lfs merge=lfs -text
